---
layout: layouts/page.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tag/{{ tag | tagSlug }}/"
eleventyComputed:
  title: "Tag: {{ tag }}"
---
{% set taggedPosts = collections.posts | byTag(tag) %}
{% set taggedPublications = collections.publications | byTag(tag) %}

<header class="entry-header">
  <span class="kicker">Subject index</span>
  <h1>{{ tag }}</h1>
  <p class="entry-meta">{{ taggedPublications.length + taggedPosts.length }} entries filed under this tag.</p>
</header>

{% if taggedPublications.length %}
<div class="list-year">Publications</div>
<ul class="post-list">
  {% for item in taggedPublications %}
  <li>
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <time datetime="{{ item.date | htmlDateString }}">{{ item.data.published or (item.date | readableDate) }}</time>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if taggedPosts.length %}
<div class="list-year">Blog posts</div>
<ul class="post-list">
  {% for item in taggedPosts %}
  <li>
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <time datetime="{{ item.date | htmlDateString }}">{{ item.data.published or (item.date | readableDate) }}</time>
  </li>
  {% endfor %}
</ul>
{% endif %}
